In [85]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [86]:
df=pd.read_csv(r'C:\Users\Ali Kureshi\Downloads\Hotel Cancellation Project.csv')

In [87]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01/07/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01/07/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,02/07/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,02/07/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,03/07/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,06/09/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,07/09/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,07/09/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,07/09/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,07/09/2017

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [89]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [90]:
for col in df:
    print(df[col].unique())

['Resort Hotel' 'City Hotel']
[0 1]
[342 737   7  13  14   0   9  85  75  23  35  68  18  37  12  72 127  78
  48  60  77  99 118  95  96  69  45  40  15  36  43  70  16 107  47 113
  90  50  93  76   3   1  10   5  17  51  71  63  62 101   2  81 368 364
 324  79  21 109 102   4  98  92  26  73 115  86  52  29  30  33  32   8
 100  44  80  97  64  39  34  27  82  94 110 111  84  66 104  28 258 112
  65  67  55  88  54 292  83 105 280 394  24 103 366 249  22  91  11 108
 106  31  87  41 304 117  59  53  58 116  42 321  38  56  49 317   6  57
  19  25 315 123  46  89  61 312 299 130  74 298 119  20 286 136 129 124
 327 131 460 140 114 139 122 137 126 120 128 135 150 143 151 132 125 157
 147 138 156 164 346 159 160 161 333 381 149 154 297 163 314 155 323 340
 356 142 328 144 336 248 302 175 344 382 146 170 166 338 167 310 148 165
 172 171 145 121 178 305 173 152 354 347 158 185 349 183 352 177 200 192
 361 207 174 330 134 350 334 283 153 197 133 241 193 235 194 261 260 216
 169 209 238 215 141 189 187 223 284 214 202 211 168 230 203 188 232 709
 219 162 196 190 259 228 176 250 201 186 199 180 206 205 224 222 182 210
 275 212 229 218 208 191 181 179 246 255 226 288 253 252 262 236 256 234
 254 468 213 237 198 195 239 263 265 274 217 220 307 221 233 257 227 276
 225 264 311 277 204 290 266 270 294 319 282 251 322 291 269 240 271 184
 231 268 247 273 300 301 267 244 306 293 309 272 242 295 285 243 308 398
 303 245 424 279 331 281 339 434 357 325 329 278 332 343 345 360 348 367
 353 373 374 406 400 326 379 399 316 341 320 385 355 363 358 296 422 390
 335 370 376 375 397 289 542 403 383 384 359 393 337 362 365 435 386 378
 313 351 287 471 462 411 450 318 372 371 454 532 445 389 388 407 443 437
 451 391 405 412 419 420 426 433 440 429 418 447 461 605 457 475 464 482
 626 489 496 503 510 517 524 531 538 545 552 559 566 573 580 587 594 601
 608 615 622 629 396 410 395 423 408 409 448 465 387 414 476 479 467 490
 493 478 504 507 458 518 521 377 444 380 463]
[2015 2016 2017]
['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
[27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
[ 0  1  2  4  3  6 13  8  5  7 12  9 16 18 19 10 14]
[ 0  1  2  3  4  5 10 11  8  6  7 15  9 12 33 20 14 16 21 13 30 19 24 40
 22 42 50 25 17 32 26 18 34 35 41]
[ 2  1  3  4 40 26 50 27 55  0 20  6  5 10]
[ 0.  1.  2. 10.  3. nan]
[ 0  1  2 10  9]
['BB' 'FB' 'HB' 'SC' 'Undefined']
['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
[0 1]
[ 0  1  2  3 26 25 14  4 24 19  5 21  6 13 11]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 20 21 22 23 24
 25 27 28 29 30 19 26 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72]
['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K']
[ 3  4  0  1  2  5 17  6  8  7 10 16  9 13 12 20 14 15 11 21 18]
['No Deposit' 'Refundable' 'Non Refund']
[ nan 304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243.
 242.   3. 105.  40. 147. 306. 184.  96.   2. 127.  95. 146.   9. 177.
   6. 143. 244. 149. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.
  36.  26.  29. 258. 110.  71. 181.  88. 251. 275.  69. 248. 208. 256.
 314. 126. 281. 273. 253. 185. 330. 334. 328. 326. 321. 324. 313.  38.
 155.  68. 335. 308. 332.  94. 348. 310. 339. 375.  66. 327. 387. 298.
  91. 245. 385. 257. 393. 168. 405. 249. 315.  75. 128. 307.  11. 436.
   1. 201. 183. 223. 368. 336. 291. 464. 411. 481.  10. 154. 468. 410.
 390. 440. 495. 492. 493. 434.  57. 531. 420. 483. 526. 472. 429.  16.
 446.  34.  78. 139. 252. 270.  47. 114. 301. 193. 182. 135. 350. 195.
 352. 355. 159. 363. 384. 360. 331. 367.  64. 406. 163. 414. 333. 427.
 431. 430. 426. 438. 433. 418. 441. 282. 432.  72. 450. 180. 454. 455.
  59. 451. 254. 358. 469. 165. 467. 510. 337. 476. 502. 527. 479. 508.
 535. 302. 497. 187.  13.   7.  27.  14.  22.  17.  28.  42.  20.  19.
  45.  37.  61.  39.  21.  24.  41.  50.  30.  54.  52.  12.  44.  31.
  83.  32.  63.  60.  55.  56.  89.  87. 118.  86.  85. 210. 214. 129.
 179. 138. 174. 170. 153.  93. 151. 119.  35. 173.  58.  53. 133.  79.
 235. 192. 191. 236. 162. 215. 157. 287. 132. 234.  98.  77. 103. 107.
 262. 220. 121. 205. 378.  23. 296. 290. 229.  33. 286. 276. 425. 484.
 323. 403. 219. 394. 509. 111. 423.   4.  70.  82.  81.  74.  92.  99.
  90. 112. 117. 106. 148. 158. 144. 211. 213. 216. 232. 150. 267. 227.
 247. 278. 280. 285. 289. 269. 295. 265. 288. 122. 294. 325. 341. 344.
 346. 359. 283. 364. 370. 371.  25. 141. 391. 397. 416. 404. 299. 197.
  73. 354. 444. 408. 461. 388. 453. 459. 474. 475. 480. 449.]
[ nan 110. 113. 270. 178. 240. 154. 144. 307. 268.  59. 204. 312. 318.
  94. 174. 274. 195. 223. 317. 281. 118.  53. 286.  12.  47. 324. 342.
 373. 371. 383.  86.  82. 218.  88.  31. 397. 392. 405. 331. 367.  20.
  83. 416.  51. 395. 102.  34.  84. 360. 394. 457. 382. 461. 478. 386.
 112. 486. 421.   9. 308. 135. 224. 504. 269. 356. 498. 390. 513. 203.
 263. 477. 521. 169. 515. 445. 337. 251. 428. 292. 388. 130. 250. 355.
 254. 543. 531. 528.  62. 120.  42.  81. 116. 530. 103.  39.  16.  92.
  61. 501. 165. 291. 290.  43. 325. 192. 108. 200. 465. 287. 297. 490.
 482. 207. 282. 437. 225. 329. 272.  28.  77. 338.  72. 246. 319. 146.
 159. 380. 323. 511. 407. 278.  80. 403. 399.  14. 137. 343. 346. 347.
 349. 289. 351. 353.  54.  99. 358. 361. 362. 366. 372. 365. 277. 109.
 377. 379.  22. 378. 330. 364. 401. 232. 255. 384. 167. 212. 514. 391.
 400. 376. 402. 396. 302. 398.   6. 370. 369. 409. 168. 104. 408. 413.
 148.  10. 333. 419. 415. 424. 425. 423. 422. 435. 439. 442. 448. 443.
 454. 444.  52. 459. 458. 456. 460. 447. 470. 466. 484. 184. 485.  32.
 487. 491. 494. 193. 516. 496. 499.  29.  78. 520. 507. 506. 512. 126.
  64. 242. 518. 523. 539. 534. 436. 525. 541.  40. 455. 410.  45.  38.
  49.  48.  67.  68.  65.  91.  37.   8. 179. 209. 219. 221. 227. 153.
 186. 253. 202. 216. 275. 233. 280. 309. 321.  93. 316.  85. 107. 350.
 279. 334. 348. 150.  73. 385. 418. 197. 450. 452. 115.  46.  76.  96.
 100. 105. 101. 122.  11. 139. 142. 127. 143. 140. 149. 163. 160. 180.
 238. 183. 222. 185. 217. 215. 213. 237. 230. 234.  35. 245. 158. 258.
 259. 260. 411. 257. 271.  18. 106. 210. 273.  71. 284. 301. 305. 293.
 264. 311. 304. 313. 288. 320. 314. 332. 341. 352. 243. 368. 393. 132.
 220. 412. 420. 426. 417. 429. 433. 446. 357. 479. 483. 489. 229. 481.
 497. 451. 492.]
[  0  50  47  65 122  75 101 150 125  14  60  34 100  22 121  61  39   5
   1   8 107  43  52   2  11 142 116  13  44  97  83   4 113  18  20 185
  93 109   6  37 105 154  64  99  38  48  33  77  21  80  59  40  58  89
  53  49  69  87  91  57 111  79  98  85  63  15   3  41 224  31  56 187
 176  71  55  96 236 259 207 215 160 120  30  32  27  62  24 108 147 379
  70  35 178 330 223 174 162 391  68 193  10  76  16  28   9 165  17  25
  46   7  84 175 183  23 117  12  54  26  73  45  19  42  72  81  92  74
 167  36]
['Transient' 'Contract' 'Transient-Party' 'Group']
[  0.    75.    98.   ... 266.75 209.25 157.71]
[0 1 2 8 3]
[0 1 3 2 4 5]
['Check-Out' 'Canceled' 'No-Show']
['01/07/2015' '02/07/2015' '03/07/2015' '06/05/2015' '22/04/2015'
 '23/06/2015' '05/07/2015' '06/07/2015' '07/07/2015' '08/07/2015'
 '11/05/2015' '15/07/2015' '16/07/2015' '29/05/2015' '19/05/2015'
 '19/06/2015' '23/05/2015' '18/05/2015' '09/07/2015' '02/06/2015'
 '13/07/2015' '04/07/2015' '29/06/2015' '16/06/2015' '18/06/2015'
 '12/06/2015' '09/06/2015' '26/05/2015' '11/07/2015' '12/07/2015'
 '17/07/2015' '15/04/2015' '13/05/2015' '10/07/2015' '20/05/2015'
 '12/05/2015' '14/07/2015' '17/06/2015' '01/05/2015' '30/03/2015'
 '19/07/2015' '03/06/2015' '26/06/2015' '14/05/2015' '20/07/2015'
 '07/05/2015' '28/05/2015' '13/04/2015' '25/03/2015' '21/07/2015'
 '27/06/2015' '18/07/2015' '23/07/2015' '08/06/2015' '22/06/2015'
 '24/06/2015' '05/03/2015' '01/06/2015' '24/04/2015' '22/07/2015'
 '27/05/2015' '06/04/2015' '11/04/2015' '25/07/2015' '28/07/2015'
 '29/07/2015' '25/06/2015' '24/07/2015' '05/06/2015' '30/06/2015'
 '13/06/2015' '11/06/2015' '30/07/2015' '27/07/2015' '29/04/2015'
 '04/06/2015' '26/07/2015' '01/08/2015' '02/08/2015' '15/06/2015'
 '23/04/2015' '31/07/2015' '25/05/2015' '03/08/2015' '17/04/2015'
 '04/08/2015' '06/08/2015' '15/05/2015' '09/05/2015' '17/03/2015'
 '22/05/2015' '07/08/2015' '04/04/2015' '05/08/2015' '08/08/2015'
 '10/08/2015' '04/05/2015' '06/06/2015' '09/08/2015' '15/08/2015'
 '11/08/2015' '28/03/2015' '14/08/2015' '12/08/2015' '16/08/2015'
 '16/05/2015' '21/08/2015' '13/08/2015' '17/08/2015' '20/04/2015'
 '18/08/2015' '23/08/2015' '22/08/2015' '19/08/2015' '20/08/2015'
 '29/08/2015' '31/03/2015' '30/05/2015' '25/08/2015' '14/04/2015'
 '24/08/2015' '24/03/2015' '21/05/2015' '28/08/2015' '26/08/2015'
 '27/08/2015' '30/08/2015' '31/08/2015' '06/09/2015' '03/09/2015'
 '04/09/2015' '02/09/2015' '01/09/2015' '05/09/2015' '20/06/2015'
 '07/09/2015' '10/09/2015' '11/09/2015' '08/09/2015' '09/09/2015'
 '13/09/2015' '15/09/2015' '10/04/2015' '02/01/2015' '18/11/2014'
 '12/09/2015' '17/09/2015' '14/09/2015' '07/04/2015' '19/09/2015'
 '16/09/2015' '20/09/2015' '18/01/2015' '23/10/2015' '22/01/2015'
 '01/01/2015' '22/09/2015' '24/09/2015' '18/09/2015' '21/09/2015'
 '30/09/2015' '25/09/2015' '27/09/2015' '28/09/2015' '12/10/2015'
 '29/09/2015' '23/09/2015' '01/10/2015' '26/09/2015' '18/04/2015'
 '02/10/2015' '04/10/2015' '08/10/2015' '03/10/2015' '07/10/2015'
 '09/10/2015' '11/10/2015' '05/10/2015' '06/10/2015' '10/10/2015'
 '14/10/2015' '15/10/2015' '18/10/2015' '13/10/2015' '20/10/2015'
 '19/10/2015' '31/10/2015' '16/10/2015' '21/10/2015' '22/10/2015'
 '17/10/2015' '24/10/2015' '25/10/2015' '28/10/2015' '27/10/2015'
 '26/10/2015' '30/10/2015' '05/11/2015' '29/10/2015' '03/11/2015'
 '07/11/2015' '04/11/2015' '01/11/2015' '02/11/2015' '17/11/2015'
 '06/11/2015' '10/11/2015' '08/11/2015' '09/11/2015' '15/11/2015'
 '16/11/2015' '11/11/2015' '12/11/2015' '14/11/2015' '13/11/2015'
 '18/11/2015' '22/11/2015' '19/11/2015' '21/11/2015' '20/11/2015'
 '24/11/2015' '25/11/2015' '23/11/2015' '28/11/2015' '26/11/2015'
 '27/11/2015' '29/11/2015' '04/12/2015' '01/12/2015' '06/12/2015'
 '08/12/2015' '02/12/2015' '03/12/2015' '31/12/2015' '05/12/2015'
 '10/12/2015' '17/12/2015' '30/11/2015' '12/12/2015' '07/12/2015'
 '05/01/2016' '11/12/2015' '13/12/2015' '15/12/2015' '16/12/2015'
 '19/12/2015' '18/12/2015' '26/12/2015' '27/12/2015' '22/12/2015'
 '23/12/2015' '24/12/2015' '29/12/2015' '28/12/2015' '20/12/2015'
 '30/12/2015' '02/01/2016' '01/01/2016' '25/12/2015' '03/01/2016'
 '04/01/2016' '11/01/2016' '07/01/2016' '21/12/2015' '09/01/2016'
 '10/01/2016' '08/01/2016' '06/01/2016' '12/01/2016' '13/01/2016'
 '23/01/2016' '09/02/2016' '15/01/2016' '16/01/2016' '17/01/2016'
 '19/01/2016' '18/01/2016' '21/01/2016' '24/01/2016' '22/01/2016'
 '29/01/2016' '27/01/2016' '25/01/2016' '08/03/2016' '26/01/2016'
 '20/01/2016' '30/01/2016' '01/02/2016' '02/02/2016' '08/02/2016'
 '07/02/2016' '28/01/2016' '05/02/2016' '03/02/2016' '13/02/2016'
 '10/02/2016' '04/02/2016' '12/02/2016' '11/02/2016' '16/02/2016'
 '14/02/2016' '15/02/2016' '20/02/2016' '06/02/2016' '14/01/2016'
 '17/02/2016' '21/02/2016' '24/02/2016' '25/02/2016' '19/02/2016'
 '18/02/2016' '26/02/2016' '23/02/2016' '05/03/2016' '22/02/2016'
 '27/02/2016' '03/03/2016' '24/03/2016' '04/03/2016' '29/02/2016'
 '01/03/2016' '02/03/2016' '30/03/2016' '07/03/2016' '14/03/2016'
 '21/03/2016' '09/03/2016' '12/03/2016' '22/03/2016' '10/03/2016'
 '11/03/2016' '20/03/2016' '15/03/2016' '17/03/2016' '16/03/2016'
 '19/03/2016' '27/03/2016' '18/03/2016' '26/03/2016' '31/03/2016'
 '28/03/2016' '29/03/2016' '01/04/2016' '23/03/2016' '02/04/2016'
 '25/03/2016' '13/03/2016' '04/04/2016' '03/04/2016' '05/04/2016'
 '08/04/2016' '06/04/2016' '09/04/2016' '12/04/2016' '16/04/2016'
 '17/04/2016' '27/04/2016' '14/04/2016' '18/04/2016' '21/04/2016'
 '19/04/2016' '20/04/2016' '10/04/2016' '13/04/2016' '11/04/2016'
 '07/04/2016' '15/04/2016' '22/04/2016' '23/04/2016' '26/04/2016'
 '28/04/2016' '24/04/2016' '25/04/2016' '29/04/2016' '30/04/2016'
 '01/05/2016' '10/05/2016' '02/05/2016' '07/05/2016' '08/05/2016'
 '12/05/2016' '04/05/2016' '06/05/2016' '03/05/2016' '09/05/2016'
 '05/05/2016' '13/05/2016' '14/05/2016' '18/05/2016' '19/05/2016'
 '15/05/2016' '16/05/2016' '11/05/2016' '21/05/2016' '22/05/2016'
 '20/05/2016' '24/05/2016' '25/05/2016' '26/05/2016' '23/05/2016'
 '27/05/2016' '17/05/2016' '29/05/2016' '28/05/2016' '30/05/2016'
 '31/05/2016' '01/06/2016' '03/06/2016' '08/06/2016' '02/06/2016'
 '05/06/2016' '06/06/2016' '13/06/2016' '07/06/2016' '10/06/2016'
 '11/06/2016' '16/06/2016' '12/06/2016' '14/06/2016' '17/06/2016'
 '04/06/2016' '18/06/2016' '21/06/2016' '09/06/2016' '24/06/2016'
 '20/06/2016' '25/06/2016' '22/06/2016' '26/06/2016' '23/06/2016'
 '01/07/2016' '15/06/2016' '28/06/2016' '02/07/2016' '19/06/2016'
 '27/06/2016' '04/07/2016' '30/06/2016' '05/07/2016' '08/07/2016'
 '09/07/2016' '07/07/2016' '12/07/2016' '29/06/2016' '10/07/2016'
 '15/07/2016' '03/07/2016' '16/07/2016' '14/07/2016' '18/07/2016'
 '13/07/2016' '06/07/2016' '20/07/2016' '21/07/2016' '23/07/2016'
 '19/07/2016' '11/07/2016' '28/07/2016' '17/07/2016' '25/07/2016'
 '22/07/2016' '29/07/2016' '03/08/2016' '02/08/2016' '04/08/2016'
 '08/08/2016' '10/08/2016' '01/08/2016' '06/08/2016' '06/03/2016'
 '05/08/2016' '26/07/2016' '07/08/2016' '30/07/2016' '24/07/2016'
 '12/08/2016' '27/07/2016' '13/08/2016' '18/08/2016' '16/08/2016'
 '15/08/2016' '17/08/2016' '11/08/2016' '31/07/2016' '19/08/2016'
 '01/09/2016' '23/08/2016' '26/08/2016' '20/08/2016' '21/08/2016'
 '04/09/2016' '22/08/2016' '27/08/2016' '25/08/2016' '09/08/2016'
 '05/09/2016' '24/08/2016' '10/09/2016' '29/08/2016' '09/09/2016'
 '30/08/2016' '13/09/2016' '31/08/2016' '14/09/2016' '12/09/2016'
 '15/09/2016' '14/08/2016' '02/09/2016' '08/09/2016' '19/09/2016'
 '16/09/2016' '07/09/2016' '21/09/2016' '06/09/2016' '22/09/2016'
 '17/09/2016' '20/09/2016' '03/09/2016' '26/09/2016' '23/09/2016'
 '18/09/2016' '29/09/2016' '02/10/2016' '01/10/2016' '27/09/2016'
 '25/09/2016' '05/10/2016' '11/09/2016' '30/09/2016' '09/10/2016'
 '03/10/2016' '06/10/2016' '11/10/2016' '24/09/2016' '13/10/2016'
 '28/09/2016' '08/10/2016' '07/10/2016' '16/10/2016' '28/08/2016'
 '17/10/2016' '18/10/2016' '10/10/2016' '04/10/2016' '15/10/2016'
 '19/10/2016' '21/10/2016' '12/10/2016' '24/10/2016' '26/10/2016'
 '23/10/2016' '20/10/2016' '25/10/2016' '27/10/2016' '28/10/2016'
 '30/10/2016' '29/10/2016' '01/11/2016' '04/11/2016' '14/10/2016'
 '07/11/2016' '03/11/2016' '10/11/2016' '14/11/2016' '02/11/2016'
 '31/10/2016' '11/11/2016' '08/11/2016' '05/11/2016' '25/11/2016'
 '09/11/2016' '20/11/2016' '21/11/2016' '22/10/2016' '22/11/2016'
 '16/11/2016' '23/11/2016' '17/11/2016' '06/11/2016' '15/11/2016'
 '13/11/2016' '12/11/2016' '27/11/2016' '19/11/2016' '30/11/2016'
 '18/11/2016' '02/12/2016' '04/12/2016' '29/11/2016' '07/12/2016'
 '28/11/2016' '03/12/2016' '06/12/2016' '24/11/2016' '08/12/2016'
 '05/12/2016' '10/12/2016' '13/12/2016' '14/12/2016' '16/12/2016'
 '15/12/2016' '17/12/2016' '19/12/2016' '21/12/2016' '20/12/2016'
 '22/12/2016' '23/12/2016' '24/12/2016' '01/12/2016' '27/12/2016'
 '29/12/2016' '30/12/2016' '12/12/2016' '02/01/2017' '11/12/2016'
 '03/01/2017' '04/01/2017' '01/01/2017' '26/12/2016' '06/01/2017'
 '28/12/2016' '18/12/2016' '10/01/2017' '11/01/2017' '07/01/2017'
 '12/01/2017' '16/01/2017' '14/01/2017' '13/01/2017' '05/01/2017'
 '17/01/2017' '20/01/2017' '09/12/2016' '26/01/2017' '31/12/2016'
 '23/01/2017' '27/01/2017' '28/01/2017' '19/01/2017' '25/01/2017'
 '24/01/2017' '29/01/2017' '18/01/2017' '25/12/2016' '15/01/2017'
 '21/01/2017' '01/02/2017' '02/02/2017' '31/01/2017' '03/02/2017'
 '04/02/2017' '06/02/2017' '07/02/2017' '08/02/2017' '30/01/2017'
 '09/02/2017' '09/01/2017' '11/02/2017' '10/02/2017' '12/02/2017'
 '13/02/2017' '14/02/2017' '16/02/2017' '17/02/2017' '18/02/2017'
 '19/02/2017' '20/02/2017' '15/02/2017' '21/02/2017' '22/02/2017'
 '26/02/2017' '23/02/2017' '24/02/2017' '25/02/2017' '28/02/2017'
 '05/03/2017' '27/02/2017' '03/03/2017' '06/03/2017' '02/03/2017'
 '08/03/2017' '09/03/2017' '10/03/2017' '07/03/2017' '12/03/2017'
 '13/03/2017' '14/03/2017' '01/03/2017' '18/03/2017' '17/03/2017'
 '24/03/2017' '22/03/2017' '26/03/2017' '27/03/2017' '11/03/2017'
 '28/03/2017' '29/03/2017' '30/03/2017' '31/03/2017' '19/03/2017'
 '22/01/2017' '02/04/2017' '20/03/2017' '03/04/2017' '08/01/2017'
 '23/03/2017' '05/04/2017' '05/02/2017' '04/04/2017' '15/03/2017'
 '07/04/2017' '25/03/2017' '08/04/2017' '06/04/2017' '21/03/2017'
 '10/04/2017' '01/04/2017' '11/04/2017' '13/04/2017' '15/04/2017'
 '12/04/2017' '04/03/2017' '19/04/2017' '22/04/2017' '20/04/2017'
 '02/05/2017' '09/04/2017' '23/04/2017' '24/04/2017' '16/04/2017'
 '28/04/2017' '18/04/2017' '26/04/2017' '25/04/2017' '17/04/2017'
 '21/04/2017' '03/05/2017' '04/05/2017' '16/03/2017' '05/05/2017'
 '29/04/2017' '14/04/2017' '08/05/2017' '27/04/2017' '11/05/2017'
 '01/05/2017' '10/05/2017' '13/05/2017' '06/05/2017' '14/05/2017'
 '16/05/2017' '30/04/2017' '15/05/2017' '07/05/2017' '09/05/2017'
 '17/05/2017' '21/05/2017' '12/05/2017' '22/05/2017' '24/05/2017'
 '23/05/2017' '25/05/2017' '26/05/2017' '28/05/2017' '27/05/2017'
 '29/05/2017' '19/05/2017' '31/05/2017' '20/05/2017' '01/06/2017'
 '30/05/2017' '02/06/2017' '26/11/2016' '04/06/2017' '05/06/2017'
 '06/06/2017' '07/06/2017' '18/05/2017' '09/06/2017' '10/06/2017'
 '11/06/2017' '12/06/2017' '14/06/2017' '08/06/2017' '16/06/2017'
 '13/06/2017' '03/06/2017' '24/06/2017' '20/06/2017' '19/06/2017'
 '21/06/2017' '26/06/2017' '27/06/2017' '22/06/2017' '28/06/2017'
 '15/06/2017' '29/06/2017' '30/06/2017' '18/06/2017' '04/07/2017'
 '08/07/2017' '05/07/2017' '03/07/2017' '07/07/2017' '01/07/2017'
 '06/07/2017' '11/07/2017' '12/07/2017' '23/06/2017' '13/07/2017'
 '02/07/2017' '10/07/2017' '14/07/2017' '15/07/2017' '16/07/2017'
 '18/07/2017' '17/07/2017' '19/07/2017' '20/07/2017' '21/07/2017'
 '25/06/2017' '17/06/2017' '24/07/2017' '26/07/2017' '09/07/2017'
 '27/07/2017' '28/07/2017' '31/07/2017' '29/07/2017' '22/07/2017'
 '02/08/2017' '01/08/2017' '03/08/2017' '04/08/2017' '25/07/2017'
 '23/07/2017' '09/08/2017' '10/08/2017' '30/07/2017' '07/08/2017'
 '13/08/2017' '05/08/2017' '14/08/2017' '08/08/2017' '16/08/2017'
 '17/08/2017' '15/08/2017' '18/08/2017' '20/08/2017' '22/08/2017'
 '06/08/2017' '25/08/2017' '26/08/2017' '23/08/2017' '11/08/2017'
 '27/08/2017' '21/08/2017' '29/08/2017' '31/08/2017' '12/08/2017'
 '19/08/2017' '31/01/2016' '01/09/2017' '28/08/2017' '03/04/2015'

In [91]:
df = df.replace(np.nan, "other")

In [92]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,other,other,0,Transient,0.00,0,0,Check-Out,01/07/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,other,other,0,Transient,0.00,0,0,Check-Out,01/07/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,other,other,0,Transient,75.00,0,0,Check-Out,02/07/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,other,0,Transient,75.00,0,0,Check-Out,02/07/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,other,0,Transient,98.00,0,1,Check-Out,03/07/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,other,0,Transient,96.14,0,0,Check-Out,06/09/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,other,0,Transient,225.43,0,2,Check-Out,07/09/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,other,0,Transient,157.71,0,4,Check-Out,07/09/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,other,0,Transient,104.40,0,0,Check-Out,07/09/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,other,0,Transient,151.20,0,2,Check-Out,07/09/2017

In [93]:
df1=pd.DataFrame(df)

In [94]:
df1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,other,other,0,Transient,0.00,0,0,Check-Out,01/07/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,other,other,0,Transient,0.00,0,0,Check-Out,01/07/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,other,other,0,Transient,75.00,0,0,Check-Out,02/07/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,other,0,Transient,75.00,0,0,Check-Out,02/07/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,other,0,Transient,98.00,0,1,Check-Out,03/07/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,other,0,Transient,96.14,0,0,Check-Out,06/09/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,other,0,Transient,225.43,0,2,Check-Out,07/09/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,other,0,Transient,157.71,0,4,Check-Out,07/09/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,other,0,Transient,104.40,0,0,Check-Out,07/09/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,other,0,Transient,151.20,0,2,Check-Out,07/09/2017

In [95]:
df['agent'] = pd.to_numeric(df['agent'], errors='coerce')
mean_agent = df['agent'].mean()
df['agent'] = df['agent'].fillna(mean_agent)

In [96]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,86.693382,other,0,Transient,0.00,0,0,Check-Out,01/07/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,86.693382,other,0,Transient,0.00,0,0,Check-Out,01/07/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,86.693382,other,0,Transient,75.00,0,0,Check-Out,02/07/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.000000,other,0,Transient,75.00,0,0,Check-Out,02/07/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.000000,other,0,Transient,98.00,0,1,Check-Out,03/07/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.000000,other,0,Transient,96.14,0,0,Check-Out,06/09/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.000000,other,0,Transient,225.43,0,2,Check-Out,07/09/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.000000,other,0,Transient,157.71,0,4,Check-Out,07/09/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.000000,other,0,Transient,104.40,0,0,Check-Out,07/09/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.000000,other,0,Transient,151.20,0,2,Check-Out,07/09/2017

In [97]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [98]:
df = df.applymap(str)

In [99]:
from sklearn.preprocessing import LabelEncoder

In [100]:
label_encoder = LabelEncoder()

In [101]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,86.69338185346919,other,0,Transient,0.0,0,0,Check-Out,01/07/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,86.69338185346919,other,0,Transient,0.0,0,0,Check-Out,01/07/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,86.69338185346919,other,0,Transient,75.0,0,0,Check-Out,02/07/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,other,0,Transient,75.0,0,0,Check-Out,02/07/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,other,0,Transient,98.0,0,1,Check-Out,03/07/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,other,0,Transient,96.14,0,0,Check-Out,06/09/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,other,0,Transient,225.43,0,2,Check-Out,07/09/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,other,0,Transient,157.71,0,4,Check-Out,07/09/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,other,0,Transient,104.4,0,0,Check-Out,07/09/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,other,0,Transient,151.2,0,2,Check-Out,07/09/2017

In [102]:
from sklearn import preprocessing
import pandas as pd
le = preprocessing.LabelEncoder()
df['hotel'] = le.fit_transform(df.hotel.values)
df['arrival_date_month'] = le.fit_transform(df.arrival_date_month.values)
df['customer_type'] = le.fit_transform(df.customer_type.values)
df['reservation_status'] = le.fit_transform(df.reservation_status.values)

In [103]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,1,0,342,2015,5,27,1,0,0,2,...,No Deposit,86.69338185346919,other,0,2,0.0,0,0,1,01/07/2015
1,1,0,737,2015,5,27,1,0,0,2,...,No Deposit,86.69338185346919,other,0,2,0.0,0,0,1,01/07/2015
2,1,0,7,2015,5,27,1,0,1,1,...,No Deposit,86.69338185346919,other,0,2,75.0,0,0,1,02/07/2015
3,1,0,13,2015,5,27,1,0,1,1,...,No Deposit,304.0,other,0,2,75.0,0,0,1,02/07/2015
4,1,0,14,2015,5,27,1,0,2,2,...,No Deposit,240.0,other,0,2,98.0,0,1,1,03/07/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0,23,2017,1,35,30,2,5,2,...,No Deposit,394.0,other,0,2,96.14,0,0,1,06/09/2017
119386,0,0,102,2017,1,35,31,2,5,3,...,No Deposit,9.0,other,0,2,225.43,0,2,1,07/09/2017
119387,0,0,34,2017,1,35,31,2,5,2,...,No Deposit,9.0,other,0,2,157.71,0,4,1,07/09/2017
119388,0,0,109,2017,1,35,31,2,5,2,...,No Deposit,89.0,other,0,2,104.4,0,0,1,07/09/2017
119389,0,0,205,2017,1,35,29,2,7,2,...,No Deposit,9.0,other,0,2,151.2,0,2,1,07/09/2017

In [104]:
for column in df.select_dtypes(include=['object']):
    print(column)
#     df= label_encoder.fit_transform(df[['hotel','arrival_date_month','customer_type','reservation_status']])

is_canceled
lead_time
arrival_date_year
arrival_date_week_number
arrival_date_day_of_month
stays_in_weekend_nights
stays_in_week_nights
adults
children
babies
meal
country
market_segment
distribution_channel
is_repeated_guest
previous_cancellations
previous_bookings_not_canceled
reserved_room_type
assigned_room_type
booking_changes
deposit_type
agent
company
days_in_waiting_list
adr
required_car_parking_spaces
total_of_special_requests
reservation_status_date

In [105]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [106]:
train, test = train_test_split(df, test_size=0.2, random_state=42)

In [107]:
train

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
67702,0,1,64,2017,8,18,6,2,1,3,...,No Deposit,9.0,other,0,2,189.0,0,0,0,13/03/2017
115851,0,0,34,2017,5,28,10,1,1,2,...,No Deposit,14.0,other,0,2,146.0,0,0,1,12/07/2017
57345,0,1,8,2016,11,39,24,1,1,2,...,No Deposit,9.0,other,0,2,259.0,0,0,0,16/09/2016
11622,1,1,251,2017,8,21,21,2,4,2,...,No Deposit,86.69338185346919,other,0,2,89.7,0,1,0,12/09/2016
33333,1,0,23,2017,3,7,18,1,1,2,...,No Deposit,241.0,other,0,2,42.43,0,1,1,20/02/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76820,0,0,2,2016,5,28,8,0,1,2,...,No Deposit,86.69338185346919,40.0,0,2,77.0,1,0,1,09/07/2016
110268,0,0,91,2017,0,16,20,2,3,2,...,No Deposit,9.0,other,0,2,135.0,0,0,1,25/04/2017
103694,0,0,74,2016,2,53,27,0,3,3,...,No Deposit,22.0,other,0,2,92.65,0,0,1,30/12/2016
860,1,1,130,2015,1,31,1,2,5,2,...,No Deposit,240.0,other,0,2,120.6,0,2,0,19/05/2015
15795,1,0,16,2015,5,31,31,0,2,1,...,No Deposit,86.69338185346919,other,0,3,120.0,0,1,1,02/08/2015

In [108]:
train.reset_index(inplace=True)

In [110]:
train

,index,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,67702,0,1,64,2017,8,18,6,2,1,...,No Deposit,9.0,other,0,2,189.0,0,0,0,13/03/2017
1,115851,0,0,34,2017,5,28,10,1,1,...,No Deposit,14.0,other,0,2,146.0,0,0,1,12/07/2017
2,57345,0,1,8,2016,11,39,24,1,1,...,No Deposit,9.0,other,0,2,259.0,0,0,0,16/09/2016
3,11622,1,1,251,2017,8,21,21,2,4,...,No Deposit,86.69338185346919,other,0,2,89.7,0,1,0,12/09/2016
4,33333,1,0,23,2017,3,7,18,1,1,...,No Deposit,241.0,other,0,2,42.43,0,1,1,20/02/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95507,76820,0,0,2,2016,5,28,8,0,1,...,No Deposit,86.69338185346919,40.0,0,2,77.0,1,0,1,09/07/2016
95508,110268,0,0,91,2017,0,16,20,2,3,...,No Deposit,9.0,other,0,2,135.0,0,0,1,25/04/2017
95509,103694,0,0,74,2016,2,53,27,0,3,...,No Deposit,22.0,other,0,2,92.65,0,0,1,30/12/2016
95510,860,1,1,130,2015,1,31,1,2,5,...,No Deposit,240.0,other,0,2,120.6,0,2,0,19/05/2015
95511,15795,1,0,16,2015,5,31,31,0,2,...,No Deposit,86.69338185346919,other,0,3,120.0,0,1,1,02/08/2015

In [111]:
features = ['hotel', 'lead_time', 'arrival_date_year']  # Replace with actual feature names
target = 'is_canceled'
features

['hotel', 'lead_time', 'arrival_date_year']

In [112]:
model = RandomForestRegressor()  # or XGBRegressor()
model.fit(train[features], train[target])

RandomForestRegressor()

In [113]:
predictions = model.predict(test[features])

In [114]:
predictions

array([0.56704756, 0.32537834, 0.28876776, ..., 0.19375652, 0.52274649,
       0.3241877 ])

In [115]:
mse = mean_squared_error(test[target], predictions)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.18393747849438735

In [128]:
test=np.array(test[features])
test

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [127]:
from sklearn.metrics import classification_report
import numpy as np
from sklearn.metrics import confusion_matrix
# print(classification_report(test, predictions))


cm = confusion_matrix(test, predictions)

TypeError: '<' not supported between instances of 'str' and 'int'